@import "bootstrap"

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap')

body
  background-color: #4A301A

#container
  @extend .container
  padding: 0

header
  height: 150px
  background: linear-gradient(180deg, rgba(251,56,80,1) 52%, rgba(255,115,115,1) 100%)
  font-family: 'Lobster Two', cursive


nav
  @extend .navbar, .navbar-expand-lg, .navbar-dark, .show, .d-flex, .justify-content-between, .align-items-center
  height: inherit
  margin: 0 20px

  div
    @extend .container-fluid

    a
      @extend .navbar-brand
      font-size: 2.5vh

      img
        width: content-box
        height: 100px
        transition: transform 1s ease-in

    a:hover
      transform: scale(1.1, 1.1)

    button
      @extend .navbar-toggler, .align-content-sm-start

      span
        @extend .navbar-toggler-icon

    .session
      @extend .d-md-inline-flex

      a
        @extend .rounded, .text-bg-secondary, .p-2
        font-size: 2vh

      em
        font-size: 2vh

      ul

        li
          @extend .list-unstyled

    #navbarSupportedContent
      @extend .collapse, .navbar-collapse, .show

      ul
        @extend .navbar-nav, .me-auto

        li
          @extend .nav-item

          a
            @extend .nav-link
            font-size: 2vh

main
  @extend .container-fluid
  background-color: #F8F8F8
  padding: 20px

#upper-main
  @extend .d-flex, .align-items-baseline
  width: inherit

  #s-path
    @extend .ms-4, .me-lg-5, .me-3

  #regions
    @extend .ms-auto, .me-4

  .admin_fonction
    @extend .ms-2, .me-2, .p-3, .text-decoration-none
    color: white
    background-color: #92745C
    font-size: 1.8vh
    border-radius: 15px

  .admin_fonction:hover
    border-color: #FB3850
    border-style: solid
    border-width: 2px

#troque-accueil
  @extend .table

  tr
    height: 200px

    td:first-child
      @extend .col-3

      img
        height: 200px

#form_ajout
  @extend .container

  h1

  form

    div
      @extend .form-select
      background-image: none

      label

      input
        @extend .form-control

    button
      @extend .btn , .btn-primary



footer
  @extend .modal-footer
  justify-content: center
  height: 50px
  background-color: #1f9bcf
  border-radius: 20px