{% extends "base.jinja" %}

{% block contenu %}
<h1>Authentification</h1>
<form method="post" action="/compte/authentification" novalidate="novalidate">
    <div>
        <label for="courriel">Courriel : </label>
        <input type="email" name="courriel" id="courriel" placeholder="votre courriel" value="{{courriel}}"
{% if erreur %}
        class="is-invalid"/>
        <div class="invalid-feedback">Courriel ou mot de passe inconnu</div>
{% endif %}
    </div>
    <div>
        <label for="mdp">Mot de passe : </label>
        <input type="password" name="mdp" id="mdp" placeholder="votre mot de passe"
{% if erreur %}
        class="is-invalid"/>
        <div class="invalid-feedback">Courriel ou mot de passe inconnu</div>
{% endif %}
    </div>
    <div>
        <button type="submit">S'authentifier</button>
    </div>
</form>
{% endblock %}