{% extends "base.jinja" %}

{% block contenu %}
<h1>Création de compte</h1>
<form method="post" {% if session.utilisateur %}action="/compte/ajouter_utilisateur" {% else %}action="/compte/creation"{% endif %} novalidate="novalidate">
    <div>
        <label for="courriel">
            Courriel : </label>
        <input type="text" name="courriel" id="courriel" placeholder="votre courriel"
               value="{{champs.courriel.valeur}}"
{% if champs.courriel.en_erreur %}
                class="is-invalid"/>
        <div class="invalid-feedback">Le courriel est invalide</div>
{% endif %}
    </div>

    <div>
        <label for="nom">
            Nom : </label>
        <input type="text" name="nom" id="nom" placeholder="votre nom"
               value="{{champs.nom.valeur}}"/>
    </div>

    <div>
        <label for="mdp">Mot de passe : </label>
        <input type="password" name="mdp" id="mdp" placeholder="votre mot de passe"
{% if champs.mdp.en_erreur %}
        class="is-invalid"/>
        <div class="invalid-feedback">Votre mot de passe et sa confirmation diffèrent ou votre mot de passe est incorrect</div>
{% endif %}
    </div>

    <div>
        <label for="mdp2">Confirmation du mot de passe : </label>
        <input type="password" name="mdp2" id="mdp2" placeholder="votre mot de passe à nouveau"
{% if champs.mdp.en_erreur %}
        class="is-invalid"/>
        <div class="invalid-feedback">Votre mot de passe et sa confirmation diffèrent ou votre mot de passe est incorrect</div>
{% endif %}
    </div>

    <div>
        <button type="submit">Créer un compte</button>
    </div>
</form>
{% endblock %}