{% extends "base.jinja"%}
{% block contenu %}
<table>
    <thead>
        <tr>
            <td>nom</td>
            <td>courriel</td>
            <td>admin</td>
        </tr>
    </thead>
    {% for utilisateur in utilisateurs %}
        <tr>
            <td>{{ utilisateur.nom }}</td>
            <td>{{ utilisateur.courriel }}</td>
            <td>{{ utilisateur.admin }}</td>
            <td><a href="/compte/liste_utilisateurs/supprimer/{{ utilisateur.id }}">Supprimer</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}