{% extends "base.jinja" %}

{% block contenu %}
    <h2>{{ troque.titre }}</h2>
    <p>description : {{ troque.description }}</p>
    <p>catégorie : {{ troque.categorie }}</p>
    <p>date de création : {{ troque.date_creation }}</p>
    <p>Appartient à {{ detenteur }}</p>
    <img width="300" src="{{ url_for('static', filename='images/objets/' + troque.photo) }}" alt="photo de l'objet"/>
    <a href="/objet/details/{{ troque.id }}/modifier_objet">Modifier l'objet</a>
{% endblock %}