{% extends "base.jinja" %}

{% block contenu %}
    <div id="form_ajout">
        <h1>Ajouter un objet</h1>
        <form method="POST" action="/objet/details/{{ id_objet }}/modifier_objet" enctype="multipart/form-data" novalidate="novalidate">
            <div>
                <label for="titre">Titre :</label>
                <input type="text" id="titre" name="titre" class="{{ class_titre }}" value="{{ titre }}">
                <div class="invalid-feedback">{{ erreur_titre }}</div>
            </div>
            <div>
                <label for="description">Description :</label>
                <input type="text" id="description" name="description" class="{{ class_description }}" value="{{ description }}">
                <div class="invalid-feedback">{{ erreur_description }}</div>
            </div>
            <div>
                <label for="image">nom d'image et son extension (png, jpg, ...):</label>
                <input type="file" id="image" name="image" class="{{ class_image }}" value="{{ image }}">
                <div class="invalid-feedback">{{ erreur_image }}</div>
            </div>
            <div>
                <label for="categorie">Catégorie :</label>
                <input type="text" id="categorie" name="categorie" class="{{ class_categorie }}" value="{{ categorie }}">
                <div class="invalid-feedback">{{ erreur_categorie }}</div>
            </div>
            <button type="submit">modifier</button>
        </form>
    </div>
{% endblock %}