{% extends "base.jinja" %}

{% block contenu %}
<table>
    {% for objet in objets %}
        <tr>
            <td><img src="{{ url_for('static', filename='images/objets/' + objet.photo) }}" alt="photo de l'objet de l'utilisateur" width="300" height="300"></td>
            <td><p>{{ objet.titre }}</p></td>
            <td><a href="/objet/details/{{ objet.id }}">Détails</a></td>
            <td><a href="/objet/troque/{{ objet_troque.id }}?objet_troque={{ objet.id }}">Prendre cet objet</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}