<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">

<head>
    <title> | beaverter</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://www.cegepgarneau.ca/favicon.ico" />
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
<div id="container">
    <header>
        <nav>
            <div>
                <a href="/">
                    <img src="{{ url_for('static', filename='images/menu/boxLogo.png') }}" alt="logo">
                    Beaverter
                </a>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                </button>
                {% if session.utilisateur %}
                    <div class="session">
                        <em>{{ session.utilisateur[1] }}</em>
                        <a href="/compte/deconnecter">Se déconnecter</a>
                    </div>
                {% else %}
                    <div class="session">
                        <ul id="identification">
                            <li>
                                <a href="/compte/authentification">Se connecter</a>
                            </li>
                            <li>
                                <a href="/compte/creation">Créer un compte</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <div id="navbarSupportedContent">
                    <ul>
                        <li>
                            <a href="/">Accueil</a>
                        </li>
                        <li>
                            <a href="/objet/ajouter_objet">Ajouter un objet</a>
                        </li>
                        <li>
                            <a href="/objet/liste_objets">Liste d'objets</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div id="upper-main">
            <p id="s-path">/ Beaverter</p>
            {% if session.utilisateur %}
            {% if session.utilisateur.3 == 1 %}
                <a class="admin_fonction" href="/compte/ajouter_utilisateur">Ajouter un utilisateur</a>
                <a class="admin_fonction" href="/compte/liste_utilisateurs">Les utilisateurs</a>
            {% endif %}
            {% endif %}

            <p id="regions"><a href="/regions?region=en_US">en_US</a> / <a href="/regions?region=en_CA">en_CA</a> / <a href="/regions?region=fr_CA">fr_CA</a></p>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="confirmation">
                    {% for message in messages %}
                        <p>{{ messages }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block contenu %}

        {% endblock %}
    </main>
    <footer>
        <p>Jasmin Martel &#169copywrite</p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>

</html>