{% extends "base.jinja" %}

{% block contenu %}
<table id="troque-accueil">
    {% for troque in troques_liste %}
    <tr>
        <td><img src="{{ url_for('static', filename='images/objets/' + troque.photo) }}" alt="image de l'objet en troque"/></td>
        <td><p>{{ troque.titre }}</p></td>
        <td><a href="/objet/details/{{ troque.id }}">Détails</a> </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}